@import "utilities/grid.scss";      // Bootstrap grid & normalize.css
@import "utilities/colors.scss";    // Color Variables

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// ----- Default Styles
body {
  background-color: #f5f5f5;
  font-family: 'Roboto';
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

.bold {
  font-weight: 700;
}

// ----- Component Styles
@import "components/buttons.scss";
@import "components/header.scss";
@import "components/hero.scss";
@import "components/order-cards.scss";
@import "components/footer.scss";
@import "components/form.scss";
@import "components/product.scss";
@import "components/category.scss";
