@import "utilities/grid.scss";      // Bootstrap grid & normalize.css
@import "utilities/colors.scss";    // Color Variables

// ----- Default Styles
body {
  font-family: 'Roboto';
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

.bold {
  font-weight: 700;
}

// ----- Component Styles
@import "components/buttons.scss";
@import "components/header.scss";
@import "components/hero.scss";
@import "components/order-cards.scss";
@import "components/footer.scss";
@import "components/form.scss";
@import "components/product.scss";
