a { color: #333; } // Default link color

// Default button styles
.btn {
  background-color: #333;
  border: 0;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 40px;
}
 .--red {
   background-color: #f44336;
   padding-left: -20px;
 }
