footer {
  background: #333;
  color: #fff;
  height: 100px;
  margin-top: 50px;
}

.copyright-text {
  font-size: 10px;
  align-items: center;
  display: flex;
  height: 100px;
  padding: 30px;
  justify-content: flex-start;
}

.footer-logo-ctn {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.footer-logo {
  width: 80px;
}

.footer-social {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .footer-social-icon {
    width: 20px;
    margin: -10px 10px 0 10px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .footer-social {
    .footer-social-icon {
      margin: 0 10px 0 10px;
      width: 30px;
    }
  }
}
