header {
  margin-top: 10px;
  height: 90px;
  width: 100%;

  .nav-container {
    height: 90px;
  }
}

.nav-logo {
  height: inherit;
  display: flex;

  .logo {
    width: 120px;
  }
}

.header-nav {
  display: flex;
  height: inherit;
  margin-top: 0;
  justify-content: center;
  align-items: center;

  .nav-item {
    color: #111;
    position: relative;
    flex: 1 1 auto;
    font-size: 16px;
    font-weight: 700;
    list-style: none;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    &:visited {
      color: #111;
    }

    &::after {
      content: '';
      width: 0%;
      height: 5px;
      border-bottom: 3px solid #888;
      position: absolute;
      left: 17%;
      top: 9px;
      transition: all .3s ease-out;
      z-index: -1;
    }

    &:hover {
      &::after {
      width: 65%;
    }
  }
  }

  .current-page {
    text-shadow: 0px 0px 2px rgb(241, 241, 241);
  }

  .current-page::after {
    content: '';
    width: 65%;
    height: 5px;
    border-bottom: 3px solid #888;
    position: absolute;
    left: 17%;
    top: 9px;
  }
}
