.card-ctn {
  margin-bottom: 40px;
}

.card {
  background-color: #FFF;
  box-shadow: 1px 3px 6px 2px rgba(0, 0, 0, 0.37);
  height: 250px;
  position: relative;

  .card-label {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
  }

  .card-btn {
    bottom: 0;
    height: auto;
    left: 0;
    transition: all 1s ease-out;
    width: 100%;
    padding: 5px 0 5px 0;
    position: absolute;

    // TODO: FIX HOVER ANIMATION --- Find a nice (non hacky) way to animate height
    &:hover {
      height: 100%;
    }
  }
}

.card-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: -10px;

  &:first-child {
    margin-top: 25px;
  }
}
