.product-image {
  margin-top: 20px;

  img {
    width: 100%;
    background-color: #f44336;
    padding-left: 10px;
  }
}

.product-info-container {
  // background-color: blue;
}

.product-heading {
  text-transform: uppercase;
  letter-spacing: 0.7;

  h2 {
    margin: 10px 0 0 -15px;
  }
}

.product-price {
  margin: -10px 0 0 -15px;
}

.product-stock {
  margin: -10px 0 0 -15px;
}

.product-description {
  margin: -20px 0 0 -15px;
}

.product-callout {
  color: #f44336;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  margin: -10px 0 0 -15px;
  width: 100%;
  line-height: 36px;

  p {
    margin: 10px 0 10px 0;
  }
}

.product-select {
  margin: 10px 0 10px 0;
}

.product-btn {
  margin-bottom: 30px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .product-callout {
    font-size: 35px;
    line-height: 50px;

    p {
      margin: 15px 0 15px 0;
    }
  }
}
