.card-container {
  display: flex;
  align-items: center;
  height: 330px;
}

.card {
  background-color: #f4f4f4;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 280px;
  text-align: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;

  &:hover {
    .card-rollover {
      opacity: 1;
    }
  }
}

.card-rollover {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-rollover-btn {
  box-shadow: 0 0 15px 0px rgba(0,0,0,0.35);
  margin-top: -25px;
}

.card-info {
  height: inherit;
}

.card-label {
    display: block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin-top: 10px;
}

.card-details {
  // background-color: blue;
  &:first-child {
    margin-top: 15px;
  }
}

.card-title {
  background-color: #444;
  border: 0 solid #444;
  bottom: 0;
  min-height: 60px;
  left: 0;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  text-decoration: none;

  .title-text {
    color: #FFF;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 15px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .card {
    background-size: contain;
  }
}
