.item-image {
  .image {
    border-left: 7px solid #f44336;
    padding: 0 !important;
  }
}

.secondary-images {
  margin-top: 20px;
  padding: 0 !important;

  &:first-child {
    padding-right: 10px !important;
    border-left: 7px solid #f44336;
  }
  &:last-child {
    padding-left: 17px !important;
  }
}

.item-content {
  margin-left: -20px;

  .product-heading {
    text-transform: uppercase;
    letter-spacing: 0.7;

    h2 {
      margin: 0 0 -10px 0;
    }
  }

  .product-price {
    margin-top: -10px;
  }

  .product-description {
    margin-top: -20px;
  }

  .callout {
    color: #f44336;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: -20px;
  }

  .order-form {
    margin-top: -20px;
  }

  .qty-select {
    margin-left: 4px;
  }

  .order-btn {
    margin-top: 10px;
    margin-left: 15px;
  }
}
